
.container ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
  }
  
  .container ul li {
    list-style: none;
    flex: 0 0 33.333333%;
  }
  .title{
      padding-left: 40px;
      font-family: Arial Black;
      font-size: 40px;
  }